article.content pre {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;

  code {
    padding: 0;
  }
}

article.content:not(:last-child) {
  margin-bottom: 3.5rem;
}

.socials {
  .nav-item {
    padding: 0 0.5rem 0 0;
  }

  .facebook {
    margin-top: -4px;
  }
}

.adsense {
  margin: 1rem 0;
}
