%script{ async: 'async', src: "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" }
%ins.adsbygoogle{ style: "display:block", data: { ad_client: "ca-pub-4582773532678917", ad_slot: "7631984734", ad_format: "auto" }}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});
